AddressFamily any
ListenAddress 0.0.0.0
ListenAddress ::
PidFile /run/sshd/sshd.pid
AuthorizedKeysFile /auth/authorized_keys
AuthenticationMethods publickey
PubkeyAuthentication yes
PasswordAuthentication no
KbdInteractiveAuthentication no
PermitEmptyPasswords no
PermitRootLogin no
UsePAM no
AllowUsers tunnel
AllowTcpForwarding remote
GatewayPorts clientspecified
PermitTTY no
X11Forwarding no
AllowAgentForwarding no
PermitUserRC no
PermitTunnel no
ForceCommand /usr/sbin/nologin
ClientAliveInterval 30
ClientAliveCountMax 3
LoginGraceTime 30
MaxAuthTries 3
MaxSessions 2
LogLevel VERBOSE
Subsystem sftp internal-sftp
